.idea/*
*.iml
*.DS_Store
*/target/*
!.idea/codeStyleSettings.xml
gradle-plugin/gradle/wrapper
gradle-plugin/gradlew
gradle-plugin/gradlew.bat
gradle-plugin/.gradle
gradle-plugin/build
gradle-plugin/out
# Project exclude paths
/target/