# todo - comments to explain what this is and how to enable it
#set($region = '${AWS::Region}')
Resources:

  # This role is used by the lambda defined in ApiStack. Its permissions are defined by LambdaPolicy below
  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole

  # This policy needs to give the lambda code permission for the resources defined in this file
  LambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      Roles:
        - !Ref LambdaRole
      PolicyName: LambdaPolicy
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - "logs:*"
            Resource: "arn:aws:logs:*:*:*"

  # This references the generated CloudFormation file that defines the API in API Gateway and the
  # lambda that handles requests
  ApiStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "https://s3-${region}.amazonaws.com/${rootArtifactId}.code/${rootArtifactId}.template"
      Parameters:
        LambdaRole: !GetAtt LambdaRole.Arn
